Source: fbkeyboard
Section: base
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends:
 debhelper-compat (= 12),
 libfreetype6-dev,
 libinput-dev,
 libudev-dev,
 pkg-config,
Standards-Version: 4.3.0

Package: fbkeyboard
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, openrc
Description: A simple on-screen keyboard for fbdev
